* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
}

header {
  background-color: #e78b35;
  color: white;
  padding: 20px;
  text-align: center;
}

header a {
  color: #f2f2f2;
  text-decoration: none;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}

body {
  background-color: rgb(107, 100, 100);
}

main {
  padding: 10px;
  color: #f2f2f2;
}

button {
  background-color: #333;
  color: #f2f2f2;
  height: 60px;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px;
  /*position: relative;*/
  vertical-align: middle;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
  background-color: #ddd;
  color: #333;
}

#button-container {
  margin: auto;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

#code-div {
  margin: auto;
  padding: 10px;
}

#splits {
  height: 500px;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  float: left;
  line-height: 400px;
}

.splits-container {
  background-color: #f2f2f2;
  color: #333;
  height: 200px;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  line-height: 30px;
  padding-left: 10px;
  overflow-y: auto scroll;
  overflow: auto;
}

#clock-button-container {
  height: 400px;
  width: 60%;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  float: left;
}

#clock-container {
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  height: 250px;
  width: 80%;
  padding: 10px;
  font-size: 30pt;
  margin: auto;
  line-height: 250px;
  overflow: auto;
  overflow-x: auto scroll;
}
